<?xml version="1.0" encoding="UTF-8"?><project>
  <actions/>
  <description>Testing out browsertime metrics</description>
  <logRotator class="hudson.tasks.LogRotator">
    <daysToKeep>-1</daysToKeep>
    <numToKeep>20</numToKeep>
    <artifactDaysToKeep>-1</artifactDaysToKeep>
    <artifactNumToKeep>-1</artifactNumToKeep>
  </logRotator>
  <keepDependencies>false</keepDependencies>
  <properties>
    <hudson.model.ParametersDefinitionProperty>
      <parameterDefinitions>
        <hudson.model.StringParameterDefinition>
          <name>PERF_URLS</name>
          <description>List of monitoring URLs. Whitespace separated.</description>
          <defaultValue><![CDATA[http://travel.kelkoo.co.uk http://voyages.kelkoo.fr]]></defaultValue>
        </hudson.model.StringParameterDefinition>

        <hudson.model.StringParameterDefinition>
          <name>JSON_CONFIG</name>
          <description>JSON config.</description>
          <defaultValue>{"type": "browsertime"}</defaultValue>
        </hudson.model.StringParameterDefinition>

        <hudson.model.StringParameterDefinition>
          <name>DEBUG</name>
          <description>Log debug option</description>
          <defaultValue>*</defaultValue>
        </hudson.model.StringParameterDefinition>

      </parameterDefinitions>
    </hudson.model.ParametersDefinitionProperty>
  </properties>
  <scm class="hudson.scm.NullSCM"/>
  <assignedNode>browsertime</assignedNode>
  <canRoam>false</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers>
    <hudson.triggers.TimerTrigger>
      <spec>*/5 * * * *</spec>
    </hudson.triggers.TimerTrigger>
  </triggers>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.tasks.Shell>
      <command><![CDATA[# Download and install browsertime
[ -e browsertime-0.6 ] || wget https://github.com/tobli/browsertime/releases/download/browsertime-0.6/browsertime-0.6.tar.gz
[ -e browsertime-0.6 ] || tar -xvzf browsertime-0.6.tar.gz
[ -e browsertime-0.6.tar.gz ] && rm browsertime-0.6.tar.gz
[ -e browsertime-0.6/bin/browsertime ] && ./browsertime-0.6/bin/browsertime --version
]]></command>
    </hudson.tasks.Shell>
    <hudson.tasks.Shell>
      <command><![CDATA[#!/usr/bin/env bash

RESULT_DIR=results/$BUILD_NUMBER

export DISPLAY=:99

URLS="$PERF_URLS"

for url in $URLS; do
  URL_KEY=$(node -pe 'process.argv.slice(1)[0].replace(/(^https?:\/\/)|(\/$)/g, "").replace(/(\/|\?|-|&|=|\.)/g, "_")' "$url");
  echo """
  Browsertiming $url, results available in $RESULT_DIR. Key: $URL_KEY
"""

  mkdir -p $RESULT_DIR/$URL_KEY
  ./browsertime-0.6/bin/browsertime $url --verbose -n 1 --format json --output $RESULT_DIR/$URL_KEY/metrics.json

done

]]></command>
    </hudson.tasks.Shell>
  </builders>
  <publishers>

  </publishers>
  <buildWrappers/>
</project>
