<div
  class="graph js-graph build-url build-box"
  data-name="{{ graph.name }}"
  data-config="{{ graph.json }}"
  data-assert="{{ graph.assert }}"
>

  <div class="btn-group graph-btn-group js-buttons right">
    <a href="#" class="js-edit btn btn-default">
      <span class="glyphicon glyphicon-edit"></span>
    </a>
    <a href="#" class="js-remove btn btn-danger">
      <span class="glyphicon glyphicon-remove"><span>
    </a>
  </div>

  <pre class="is-hidden js-graph-data">{{{ body }}}</pre>

  <div class="js-highchart"></div>
</div>
