<div
  class="graph js-graph build-url build-box"
  data-name="{{ highcharts.name }}"
  data-config="{{ highcharts.json }}"
  data-assert="{{ highcharts.assert }}"
>

  <div class="btn-group graph-btn-group js-buttons right">
    <a href="#" class="js-edit btn btn-default">
      <span class="glyphicon glyphicon-edit"></span>
    </a>
    <a href="#" class="js-remove btn btn-danger">
      <span class="glyphicon glyphicon-remove"><span>
    </a>
  </div>

  <div class="js-highchart"></div>
</div>
