
<div class="panel panel-default" style="background-color: #fff;">
  <div class="panel-heading">
    <h4 class="panel-title">
      <a href="{{ log.url }}consoleFull" class="btn btn-link">
        Log - {{ log.url }}
      </a>
    </h4>
  </div>
  <pre class="js-log log ansi" style="margin: 0;">{{ body }}</pre>
</div>
