<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  Cubism.js</pre>
  <style>
  @import url(http://fonts.googleapis.com/css?family=Yanone+Kaffeesatz:400,700);
  @import url(http://square.github.com/cubism/style.css);
  </style>
</head>
<body>
  <div id="body">
  <h2>Host01 Load Average</h2>
  <div id="graphs"></div>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
  <script type="text/javascript" src="http://d3js.org/d3.v2.js"></script>
  <script type="text/javascript" src="http://square.github.com/cubism/cubism.v1.js"></script>
  <script type="text/javascript" src="http://square.github.com/cubism/highlight.min.js"></script>
 
  <script type="text/javascript">
  var context = cubism.context()
      .serverDelay(30 * 1000)
      .step( 1000  )   // 1 minute
      .size(960);  // 1 * 960 = 4 hours
   
  var graphite = context.graphite("http://192.168.33.10");
  var horizon = context.horizon().metric(graphite.metric)
    //.shift( - 0 * 24 * 60 * 60 * 1000 );
    //.scale(2)
    .height(200);

  /* For all metrics */
  $.getJSON(graphite.toString() + '/metrics/index.json', function(data) {

    d3.select("#graphs").append("div")
      .attr("class", "axis")
      .call(context.axis().orient("top"));
   
    d3.select("#graphs").append("div")
        .attr("class", "rule")
        .call(context.rule());
     
    d3.select("#graphs").selectAll(".horizon")
        .data(['local.random.diceroll'])
      .enter().append("div")
        .attr("class", "horizon")
        .call(horizon);
  });
   
  </script>
</body>
</html>

