body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.CodeMirror.form-control {
    padding: 0;

  -webkit-transition: all 0.3s ease-out;
     -moz-transition: all 0.3s ease-out;
       -o-transition: all 0.3s ease-out;
          transition: all 0.3s ease-out;

}
.CodeMirror.form-control.bg-danger {
  background-color: #F2DEDE;

}

@media (max-width:767px) {
  .form-control {
    margin-top: 8px;
  }
}

@media (min-width:768px) {

  .form-control.col-sm-8 {
    width: 66.66666667%;
  }

  .form-control.col-sm-2 {
    width: 16.66666667%;
    margin-left: 8.33333333%;
  }

}

.description {
  font-weight: normal;
  color: rgb(102, 106, 114);
  font-size: 15px;
  margin: 1em 0;
}

.job-tabs {
  margin-top: 35px;
}

.tab-content .table tbody tr:first-of-type td {
  border-top: none;
}



.is-hidden {
  display: none;
}

.right {
  float: right;
}

.left {
  float: left;
}

.cron-button {
    height: 16px;
    padding-left: 20px;
    margin-left: 5px;
    background-repeat: no-repeat;
    background-position: center center;
    cursor: pointer;
}

.cron-changed {
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: #fdd;
}
.cron-controls {
    margin-left: 10px;
    color: #c77;
    font-size: 0.9em;
}

.cron-text {
  position: absolute;
  right: 8px;
  top: 6px;
  color: #777;
}

.cron-box {
  position: relative;
}

/* Styling of JSON editing */
.phantomas-config {
  position: relative;
}

.phantomas-config .json-error {
  position: absolute;
  right: 20px;
  bottom: 2px;
  color: #777;
  margin-left: 26px;
}


.metric-unit {
  padding: 6px;
}

/** Build View **/
.build-url-title {
  margin-bottom: 0;
}

.build-summary {
  margin: 20px 0;
}

.build-summary .build-label {
  float: left;
  width: 90px;
  min-height: 25px;
  color: #777;
}

.build-summary .build-value {
  float: left;
  width: 150px;
  min-height: 25px;
}
}

.build-url-timeline {
    overflow: auto;
    border-top: 1px solid rgb(225, 225, 232);
    /* display: none; */
}

.build-url-timeline img {
}

.build-box {
  border: 1px solid rgb(225, 225, 232);
  border-bottom: none;
}

.build-box:last-child {
  border-bottom: 1px solid rgb(225, 225, 232);
}

.build-box .thumbnail {
  margin-bottom: 0.5em;
}

.build-box-header {
  padding: 1em;
  background-color: #f7f7f9;
  /* border-bottom: 1px solid #e1e1e8; */
  margin: 0;
}

.build-box-header-link {
  color: inherit;
}

.build-url-har {
  /* border-top: 1px solid #e1e1e8; */
  /* display: none; */
  padding-bottom: 1.5em;
}

.form-edit {
  margin-top: 35px;
}

.form-submit {
  padding-top: 1em;
  border-top: 1px solid rgb(225, 225, 232);
}

.log-container {
    position: relative;
}

.log-container #tail {
    z-index: 99;
    position: absolute;
    display: block;
    top: 0;
    right: 2px;
    margin: 13px 10px 0 0;
    padding: 0 2px 0 3px;
    color: #666;
    text-shadow: 0px 1px 0px #fff;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 11px;
    line-height: 14px;
    text-decoration: none;
    white-space: nowrap;
    border: 1px solid #bbb;
    border-top-color: #ddd;
    border-bottom-color: #bbb;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    border-radius: 8px;
    background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(100%, #e0e0e0));
    background: -webkit-linear-gradient(#ffffff,#e0e0e0);
    background: -moz-linear-gradient(#ffffff,#e0e0e0);
    background: -o-linear-gradient(#ffffff,#e0e0e0);
    background: linear-gradient(#ffffff,#e0e0e0)
}

.log-container #tail label {
    display: none;
    cursor: pointer
}

.log-container #tail:hover {
    padding: 1px 4px 1px 6px
}

.log-container #tail:hover label {
    display: inline
}

.log-container #tail.scrolling {
    position: fixed;
    right: 32px
}

.log-container #tail.bottom {
    bottom: 45px;
    top: inherit
}

.log-container #tail .status {
    display: inline-block;
    margin-right: 1px;
    width: 8px;
    height: 8px;
    background-color: #aaa;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: #fff 1px 1px 2px;
    -moz-box-shadow: #fff 1px 1px 2px;
    box-shadow: #fff 1px 1px 2px
}

.log-container #tail.active .status {
    background-color: #6b0
}

.log-container .to-top {
    z-index: 99;
    position: absolute;
    display: block;
    bottom: 2px;
    right: 2px;
    width: 50px;
    margin-right: 2px;
    padding-right: 16px;
    text-align: right;
    color: #999;
    background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAFCAMAAABLuo1aAAAABlBMVEXCwsL///+2aL1UAAAAAnRSTlP/AOW3MEoAAAAeSURBVAjXY2AEAgYGMAlmgdkMEBaIzQBlMSAYQAAAAzkAFfQAfJYAAAAASUVORK5CYII=') no-repeat right 6px
}


pre.log {
    position: relative;
    clear: left;
    min-height: 12px;
    margin-top: 25px;
    margin-top: 1em;
    padding: 1em;
    color: #f1f1f1;
    font-family: monospace;
    font-size: 12px;
    line-height: 19px;
    white-space: pre-wrap;
    word-wrap: break-word;
    background-color: #222;
    border: 1px solid #ddd;
    overflow-x: scroll;
    counter-reset: line-numbering
}

pre.log .cut {
    padding: 20px 15px 0 55px
}

pre.log p {
    padding: 0 15px 0 55px;
    margin: 0;
    min-height: 16px
}

pre.log p:hover {
    background-color: #444 !important
}

pre.log p.highlight {
    background-color: #666
}

pre.log p.highlight a {
    color: #fff
}

pre.log p a {
    display: inline-block;
    text-align: right;
    min-width: 40px;
    margin-left: -33px;
    cursor: pointer;
    text-decoration: none
}

pre.log p a::before {
    content: counter(line-numbering);
    counter-increment: line-numbering;
    padding-right: 1em
}

pre.log .fold {
    height: 16px;
    overflow: hidden;
    cursor: pointer
}

pre.log .fold.open {
    height: auto
}

pre.log .fold p:first-of-type {
    padding-right: 130px
}

pre.log .fold p:first-of-type {
    background: #333 url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAMAAAC67D+PAAAAHlBMVEVsbGxTU1NMTExjY2NpaWlhYWFYWFhmZmZbW1v///8KeaPqAAAACnRSTlP///////////8AsswszwAAADRJREFUCNdj4IQDBmQmMwMYsAOZTBAmI0gBB4jFClHLAmQyQZiMDAxsMBOYWeCGMTGimQsAgtkCe9l/f/AAAAAASUVORK5CYII=') no-repeat 8px 3px
}

pre.log .fold p:first-of-type.highlight {
    background-color: #777
}

pre.log .fold:not(.open) p:first-of-type {
    visibility: visible;
    height: auto;
    min-height: 16px;
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAVElEQVQY02P4//8/AzEYzggICPhvbW39n6DCyMjI/yDs6en5nyiFIBwWFvbf0dHxP0GFMIzsHLwKkU3GqdDNzQ2/1X5+flh9D2cEBwdjeACrQkIYAPlQBuHA99bHAAAAAElFTkSuQmCC')
}

pre.log .fold .fold-name {
    position: absolute;
    display: block;
    right: 12px;
    margin-top: 2px;
    padding: 0px 7px 2px 7px;
    line-height: 10px;
    font-size: 10px;
    background-color: #666;
    border-radius: 6px;
    color: #bbb
}

pre.log .fold-start:not(.fold),pre.log .fold-end {
    display: none
}

.log.loading {
    padding: 25px 0 0 10px
}

.ansi .bold {
    font-weight: bold
}

.ansi .italic {
    font-style: italic
}

.ansi .black {
    color: #4e4e4e
}

.ansi .black.bold {
    color: #7c7c7c
}

.ansi .red {
    color: #ff6c60
}

.ansi .red.bold {
    color: #ffb6b0
}

.ansi .green {
    color: #0a0
}

.ansi .green.bold {
    color: #ceffab
}

.ansi .yellow {
    color: #ffffb6
}

.ansi .yellow.bold {
    color: #ffffcb
}

.ansi .blue {
    color: #96cbfe
}

.ansi .blue.bold {
    color: #b5dcfe
}

.ansi .magenta {
    color: #ff73fd
}

.ansi .magenta.bold {
    color: #ff9cfe
}

.ansi .cyan {
    color: #0aa
}

.ansi .cyan {
    color: #5ff
}

.ansi .white {
    color: #eee
}

.ansi .white.bold {
    color: #fff
}

.ansi .grey {
    color: #969696
}

.ansi .bg-black {
    background-color: #4e4e4e
}

.ansi .bg-red {
    background-color: #ff6c60
}

.ansi .bg-green {
    background-color: #0a0
}

.ansi .bg-yellow {
    background-color: #ffffb6
}

.ansi .bg-blue {
    background-color: #96cbfe
}

.ansi .bg-magenta {
    background-color: #ff73fd
}

.ansi .bg-cyan {
    background-color: #0aa
}

.ansi .bg-white {
    background-color: #eee
}

.select2-container {
  padding: 0;
}

.feature-edit-row pre.log {
  min-height: 300px;
  margin: 0;
}

.doony-circle {
    border-radius: 50%
}

.doony-circle-aborted {
    background-image: -moz-radial-gradient(3px 3px 45deg, circle cover, #ccc 0%, #999 100%);
    background-image: -webkit-radial-gradient(3px 3px, circle cover, #ccc, #999);
    background-image: radial-gradient(3px 3px 45deg, circle cover, #ccc 0%, #999 100%)
}

.doony-circle-red, .doony-circle-red_anime {
    background-image: -moz-radial-gradient(3px 3px 45deg, circle cover, #d9534f 0%, #ac2925 100%);
    background-image: -webkit-radial-gradient(3px 3px, circle cover, #d9534f, #ac2925);
    background-image: radial-gradient(3px 3px 45deg, circle cover, #d9534f 0%, #ac2925 100%)
}

.doony-circle-blue, .doony-circle-blue_anime {
    background: #397439;
    background-image: -moz-radial-gradient(3px 3px 45deg, circle cover, #72d472 0%, #397439 100%);
    background-image: -webkit-radial-gradient(3px 3px, circle cover, #72d472, #397439);
    background-image: radial-gradient(3px 3px 45deg, circle cover, #72d472 0%, #397439 100%)
}

.doony-circle-warning {
    background: #f0ad4e;
    background-image: -moz-radial-gradient(3px 3px 45deg, circle cover, #f0ad4e 0%, #d58512 100%);
    background-image: -webkit-radial-gradient(3px 3px, circle cover, #f0ad4e, #d58512);
    background-image: radial-gradient(3px 3px 45deg, circle cover, #f0ad4e 0%, #d58512 100%)
}

