
<?xml version='1.0' encoding='UTF-8'?>
<project>
  <actions/>
  <description>Testing out browsertime metrics</description>
  <keepDependencies>false</keepDependencies>
  <properties>
    <hudson.model.ParametersDefinitionProperty>
      <parameterDefinitions>
        <hudson.model.StringParameterDefinition>
          <name>PERF_URLS</name>
          <description>List of monitoring URLs. Whitespace separated.</description>
          <defaultValue>http://example.com http://example.com/2</defaultValue>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>SAUCE_USERNAME</name>
          <description></description>
          <defaultValue></defaultValue>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>SAUCE_ACCESS_KEY</name>
          <description></description>
          <defaultValue></defaultValue>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>SAUCE_BROWSERS</name>
          <description>See https://saucelabs.com/platforms for available platforms

Comma separated list of browsers.</description>
          <defaultValue>chrome, firefox, ie, android, opera</defaultValue>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>DEBUG</name>
          <description>Log debug option</description>
          <defaultValue>*</defaultValue>
        </hudson.model.StringParameterDefinition>
      </parameterDefinitions>
    </hudson.model.ParametersDefinitionProperty>
  </properties>
  <scm class="hudson.scm.NullSCM"/>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers/>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.tasks.Shell>
      <command>#!/usr/bin/env bash

RESULT_DIR=results/$BUILD_NUMBER
URLS=&quot;$PERF_URLS&quot;
BROWSERS=$(node -pe &apos;b = process.env.SAUCE_BROWSERS; b.split(/,\s?/).join(&quot;\n&quot;)&apos;)

# URL_KEY=$(node -pe &apos;process.argv.slice(1)[0].replace(/(^https?:\/\/)|(\/$)/g, &quot;&quot;).replace(/(\/|\?|-|&amp;|=|\.)/g, &quot;_&quot;)&apos; &quot;$url&quot;);

for browser in $BROWSERS; do
  mkdir -p $RESULT_DIR/$browser
   [ &quot;ie&quot; == $browser ] &amp;&amp; browser=&quot;internet explorer&quot;
  echo sauce-browsertime $PERF_URLS --browser $browser --db index.json
  sauce-browsertime $PERF_URLS --browser $browser --db index.json &gt; $RESULT_DIR/$browser/metrics.json
  sauce-browsertime-html  $RESULT_DIR/$browser/metrics.json &gt;  $RESULT_DIR/$browser/index.html
done</command>
    </hudson.tasks.Shell>
  </builders>
  <publishers/>
  <buildWrappers/>
</project>
