<?xml version="1.0" encoding="UTF-8"?>
<slave>
  <name>jenkins-slave</name>
  <description></description>
  <remoteFS>/opt/kookel</remoteFS>
  <numExecutors>3</numExecutors>
  <mode>NORMAL</mode>
  <retentionStrategy class="hudson.slaves.RetentionStrategy$Always"/>
  <launcher class="hudson.plugins.sshslaves.SSHLauncher" plugin="ssh-slaves@1.5">
    <host>{{ slave_hostname }}</host>
    <port>22</port>
    <credentialsId>0bcba06c-e241-44bb-9e79-abc52c66b95b</credentialsId>
  </launcher>
  <label></label>
  <nodeProperties/>
</slave>
