<div class="mdl-card mdl-shadow--4dp mdl-cell mdl-cell--3-col">
  <div class="mdl-card__media mdl-color--blue-grey-100">
		<div class="mdl-card__supporting-text">
			<i class="chart-icon ion-{{ icon }}" style="float: right;"></i>
			<p class="mdl-card-media-text">{{{ label }}}</p>
		</div>
  </div>
  <div class="mdl-card__supporting-text">
    {{{ value }}}
  </div>
</div>
