<nav class="mdl-navigation">
  <a class="mdl-navigation__link " href="">
    <i class="material-icons mdl-color-text--primary" role="presentation">
      home
    </i>
    Home
  </a>

  <a class="mdl-navigation__link" href="/list">
    <i class="material-icons mdl-color-text--primary" role="presentation">
      list
    </i>
    Jobs list
  </a>

  <a class="mdl-navigation__link" href="/create">
    <i class="material-icons mdl-color-text--primary" role="presentation">
      add_circle
    </i>
    New Job
  </a>

  <a class="mdl-navigation__link" href="/dashboard">
    <i class="material-icons mdl-color-text--primary" role="presentation">
      dashboard
    </i>
    Dashboard
  </a>
</nav>
