<nav class="mdl-navigation">
  <a class="mdl-navigation__link" href="">
    <i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">
      home
    </i>
    Home
  </a>

  <a class="mdl-navigation__link" href="/list">
    <i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">
      list
    </i>
    Jobs list
  </a>

  <a class="mdl-navigation__link" href="/create">
    <i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">
      add_circle
    </i>
    New Job
  </a>

  <a class="mdl-navigation__link" href="/dashboard">
    <i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">
      dashboard
    </i>
    Dashboard
  </a>
</nav>
