<nav class="mdl-navigation mdl-color-text--blue-grey-200 greenskin-header-nav">
  <a class="mdl-navigation__link mdl-color-text--blue-grey-200" href="">
    <i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">home</i>
    Home
  </a>
  <a class="mdl-navigation__link mdl-color-text--blue-grey-200" href="/list">
    <i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">view_list</i>
    Jobs list
  </a>
  <a class="mdl-navigation__link mdl-color-text--blue-grey-200" href="/create">
    <i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">playlist_add</i>
    Create a new Job
  </a>
  <a class="mdl-navigation__link mdl-color-text--blue-grey-200" href="/dashboard">
    <i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">dashboard</i>
    Dashboard
  </a>
</nav>
