<!-- <nav class="mdl&#45;navigation mdl&#45;color&#45;&#45;blue&#45;grey&#45;800"> -->
<nav class="mdl-navigation">
  <a class="mdl-navigation__link" href="/">Home</a>
  <a class="mdl-navigation__link" href="/list">Jobs list</a>
  <a class="mdl-navigation__link" href="/create">Create a new Job</a>
  <a class="mdl-navigation__link" href="/dashboard">Dashboard</a>
  <a class="mdl-navigation__link" href="">
    <i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">toc</i>
    Home
  </a>
</nav>
