<div class="mdl-grid mdl-cell mdl-cell--12-col">
  <p class="mdl-typography--display-1-color-contrast">
    Waiting for job to complete
  </p>
  <div class="mdl-progress md-wide mdl-js-progress mdl-progress__indeterminate"></div>
</div>
