
<div>

  <form>
    <div class="form-group">
      <label for="input-from">From</label>
      <input ng-model="from" class="form-control" id="input-from">
    </div>
  </form>

  <button class="btn btn-default" ng-click="toogleAsserts($event)">Edit config</button>

  <div ng-show="showAsserts" style="padding-top: 1em;">
    <label>JSON Config</label>
    <p class="text-muted">You can configure asserts by editing the asserts property below.</p>
    <textarea rows="10" style="width: 100%; margin-bottom: 0.5em;" ng-model="asserts"></textarea>
    <button class="btn btn-default" ng-click="saveConfig($event)">Save</button>
  </div>

  <div class="row">
    <div class="col-md-6" ng-repeat="metric in metrics">
      <h3>{{metric.target}}</h3>
      <p class="text-muted">{{metric.id}} {{ metric.assert ? ' / assert - ' + metric.assert : '' }}</p>

      <div style="width:100%; height:300px;">
        <flot dataset="metric.data" options="metric.chartOptions"></flot>
      </div>
    </div>
  </div>



</div>
