
<button class="btn btn-default" ng-click="createJob($event)">Create Metric Job</button>

<div class="form-group" style="margin-top: 1em;">
  <input type="text" placeholder="Filter jobs..." class="form-control" ng-model="filter.name" />
</div>

<table class="table js-home">
  <thead>
    <tr>
      <th></th>
      <th>Name</th>
      <th>Jenkins Job URL</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="job in jobs | filter: filter">
      <td>
        <img ng-src="{{ jenkinsUrl }}/static/5e9680b3/images/32x32/{{ job.color }}.{{ job.color.indexOf('anime') !== -1 ? 'gif' : 'png' }}" alt="{{job.name}}">
      </td>
      <td>
        <a href="/#/job/{{ job.name }}">{{job.name}}</a>
      </td>
      <td>
        <a href="{{job.url}}">{{ job.url }}</a>
      </td>
      <td>
        <a class="btn btn-danger" role="button" ng-click="deleteJob(job.name)">Delete</a>
      </td>
  </tbody>
</table>
