
<div class="page-header">
  <h2 class="page-title">Create {{type}} job</h2>
</div>

<p class="description">
  Fill in the form below to create a new Job, with a {{type}} script.
</p>

<form class="form js-job-form" method="post" ng-submit="submit($event)">

  <div class="form-group">
    <label for="ipt_name" class="control-label">Job name</label>
    <input required id="ipt_name" ng-model="name" type="text" class="form-control" placeholder="Job name">
  </div>

  <div class="form-group">
    <label for="ipt_frequency" class="control-label">Frequency</label>
    <div class="js-cron form-control cron-box">
      <span class="js-cron-text cron-text"><span>
    </div>
    <input type="text" ng-model="cron" class="js-cron-input is-hidden">
  </div>

  <div class="js-urls form-group">
    <label class="control-label">URLs</label>

    <div class="form-inline right">
      <a class="btn btn-default right" ng-click="addUrl($event)">Add</a>
      <input type="text" class="form-control right inline" placeholder="http://example.com" ng-model="url" style="margin-right: 10px;">
    </div>

    <table class="table">
      <thead>
        <tr>
          <th></th>
          <th width="10%"></th>
          <th width="10%"></th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="url in urls track by $index">
          <td>
            <a href="{{ url }}" class="js-link" target="_blank">{{ url }}</a>
            <input type="text" class="js-input form-control is-hidden" ng-model="url" ng-blur="hideInput($event, $index)" />
          </td>
          <td>
            <a class="btn btn-default js-edit right" href="#" role="button" ng-click="editUrl($event, $index)">Edit</a>
          </td>
          <td>
            <a class="btn btn-danger js-delete right" href="#" role="button" ng-click="removeUrl($event, $index)">Delete</a>
          </td>
        </tr>
      </tbody>
    </table>
  </fieldset>

  <div class="form-group">
    <label>JSON Config</label>
    <p class="text-muted">You can configure asserts by editing the asserts property below.</p>
    <textarea rows="10" style="width: 100%; margin-bottom: 0.5em;" ng-model="json"></textarea>
  </div>

  <button type="submit" class="btn btn-primary right">Save</button>

</form>

