
<p class="description">
  {{ job.description }}
</p>

<ul class="list-unstyled">
  {{#job.urls}}
  <li>
    <a href="{{.}}">
    {{ . }}
    </a>
  </li>
  {{/job.urls}}
</ul>

<div class="btn-group right">
  <a href="/view/{{ job.name }}/run" class="btn btn-default" role="button">Run</a>
</div>
