<nav class="navbar navbar-default navbar-static-top app-top" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header navbar-brand">
      <a href="/" class="navbar-link">
        <span class="glyphicon glyphicon-home"></span>
      </a>
      <span class="small">/</span>
      <span class="page-title">
        {{ title }}
      </span>
    </div>

    <span class="nav-type">&nbsp;</span>

    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="{{ config.jenkinsUI }}">Jenkins UI</a></li>
      </ul>
    </div>
  </div>
</nav>
