<div class="js-queue app-left">
  <form class="search-box">
    <input class="text-field form-control js-input" placeholder="Search all jobs" type="text">
  </form>


  <ul class="nav nav-tabs">
    <li class="active"><a href="#" class="js-toggle js-toggle-queue">Build Queue</a></li>
    <li class="is-hidden"><a href="#" class="js-toggle js-toggle-search">Search</a></li>
  </ul>

  <div class="left-tabs-content js-tabs">
    <div class="js-tab js-queue-list"></div>
    <div class="js-tab js-search-list"></div>
  </div>

  <a href="#" class="list-group-item js-row-template is-hidden">
    <span class="list-group-item-heading title js-title status-txt">
      List group item heading
    </span>

    <span class="last-build js-last-build status-txt"></span>
    <p class="list-group-item-text js-why">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>

    <p class="summary">
      <span class="duration_label">Duration:</span>
      <abbr class="duration js-duration" title=""></abbr>
    </p>

    <p class="summary">
      <span class="finished-icon"></span><span class="finished_at_label">Finished:</span>
      <abbr class="duration js-finished" title=""></abbr>
    </p>
  </a>
</div>
