

<fieldset class="js-urls col-sm-12">
  <legend>
    URLs
    <a class="btn btn-default right js-add" href="#" role="button" style="margin-top: -1em;">Create</a>
  </legend>
  <table class="table">
    <thead>
      <tr>
        <th></th>
        <th width="10%"></th>
        <th width="10%"></th>
      </tr>
    </thead>
    <tbody>
      <tr class="is-hidden js-row-template">
        <td>
          <a href="#" class="js-link is-hidden"></a>
          <input type="hidden" name="urls" class="js-hidden">
          <input type="text" value="" class="js-input form-control" placeholder="http://example.com">
        </td>
        <td>
          <a class="btn btn-default js-edit right" href="#" role="button">Edit</a>
        </td>
        <td>
          <a class="btn btn-danger js-delete right" href="#" role="button">Delete</a>
        </td>
      </tr>

      {{#job.urls}}
      <tr>
        <td>
          <a href="{{ . }}" class="js-link" target="_blank">{{ . }}</a>
          <input type="hidden" name="urls" class="js-hidden" value="{{ . }}">
          <input type="text" value="{{ . }}" class="js-input form-control is-hidden">
        </td>
        <td>
          <a class="btn btn-default js-edit right" href="#" role="button">Edit</a>
        </td>
        <td>
          <a class="btn btn-danger js-delete right" href="#" role="button">Delete</a>
        </td>
      </tr>
      {{/job.urls}}
    </tbody>
  </table>
</fieldset>
