@media (max-width: 1200px) {
  main.main .al-sidebar {
    width: 52px;
  }

  main.main .al-main.main {
    margin-left: 50px;
  }

  main.main .al-footer {
    padding-left: 83px;
  }
}


@media (max-width: 501px) {
  main.main .al-sidebar {
    width: 52px;
  }


  main.main .al-sidebar .fa-angle-down, main.main .al-sidebar .fa-angle-up {
    opacity: 0;
  }

  main.main .al-sidebar .al-sidebar-sublist {
    position: absolute;
    top: -1px;
    left: 52px;
    background: rgba(0, 0, 0, 0.8);
    width: 0;
    display: block;
    overflow: hidden;
    -webkit-transition: width 0.5s ease;
    transition: width 0.5s ease;
  }

  main.main .al-sidebar .al-sidebar-sublist.slide-right {
    width: 135px;
  }

  main.main .al-sidebar .al-sidebar-sublist:before {
    display: none;
  }

  main.main .al-sidebar .al-sidebar-sublist li:before {
    display: none;
  }

  main.main .al-sidebar .al-sidebar-sublist li a {
    padding-left: 18px;
    padding-right: 18px;
    min-width: 130px;
    white-space: nowrap;
  }

  main.main .al-sidebar .sidebar-hover-elem, main.main .al-sidebar .sidebar-select-elem {
    left: 48px;
  }
}
