
<!DOCTYPE html>
<html>

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Start Bootstrap - SB Admin Version 2.0 Demo</title>

    <!-- Core CSS - Include with every page -->
    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    <link href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
    <style>
    .is-hidden { display: none; }
    </style>
</head>

<body>

    <div class="container">
      <div class="page-header">
        <p class="description">
          <span class="glyphicon glyphicon-dashboard"></span>
          <small>
            {{ title }}
          </small>
        </p>
        <p>
          Graphs generated thanks to <a href="http://kaaes.github.io/timing/">http://kaaes.github.io/timing/</a>
        </p>
      </div>

      <div class="js-bt-build">

        {{#metrics}}
          <h3>
            {{ title }}
          </h3>

          {{#duration}}
          <div class="browsertime-metrics js-browsertime-metrics thumbnail">
            <pre class="js-json is-hidden">{{ timingsJSON }}</pre>
          </div>
          {{/duration}}
        {{/metrics}}
      </div>


    </div>

    <!-- Core Scripts - Include with every page -->
    <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
    <script src="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
    <script src="profiler.js"></script>
    <script src="timing.js"></script>
</body>

</html>
