
<div class="content-top clearfix">
  <ul class="breadcrumb al-breadcrumb">
    <li><a href="/">Home</a></li>
  </ul>
</div>

{{> top }}

<div class="panel panel-default bootstrap-panel">
  <form class="form js-job-form" method="post">
    <div class="panel-heading">
      {{#if jobs.length}}
      {{ jobs.length }} jobs
      {{else}}
      Welcome
      {{/if}}
    </div>

    <div class="panel-body">

      {{#if jobs.length}}
        {{> list }}
      {{else}}
        <p class="description">
          You don't have configured sites to monitor. Go to <a href="/create">to the job creation page</a> to do so.
        </p>
      {{/if}}
    </div>
  </form>
</div>
