<div class="job mdl-grid">
  {{>top}}

  <div class="mdl-cell mdl-cell--12-col mdl-typography--text-right mdl-button-bar">
    <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect">
      Edit
    </button>

    <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect">
      Requeue
    </button>

    <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-color--red-700 mdl-color-text--grey-400">
      Delete
    </button>
  </div>

  {{#if urls}}

  {{> job/urls }}

  {{else}}

  {{> wait }}

  {{/if}}

</div>
