<div class="job">
  <div class="content-top clearfix">
    <ul class="breadcrumb al-breadcrumb">
      <li><a href="/">Home</a></li> /
      {{ name }}
    </ul>
  </div>

  <div class="row pie-charts">
    {{#each top}}
      {{> piechart }}
    {{/each}}
  </div>

  {{#each urls}}
    <h2 class="page-title">{{ url }}</h2>

    {{#each modules }}

    <div class="panel panel-blur">
      <div class="panel-heading clearfix">
        <h3 class="job-module-title">
          {{ name }}
        </h3>
      </div>

      <div class="row metric-stats panel-body">
        {{#each metrics}}
          {{> stat }}
        {{/each}}
      </div>
    </div>

    {{/each}}
  {{/each}}

  <div class="panel panel-default">
    <div class="panel-heading">
      Data
    </div>

    <div class="panel-body">
      <pre style="margin: 0; padding: 0;">{{{json data}}}</pre>
    </div>
  </div>
</div>
