<div class="content-top clearfix">
  <ul class="breadcrumb al-breadcrumb">
    <li><a href="/">Home</a></li>
    <li>Jobs</li>
  </ul>
</div>

<div id="main-pane" class="panel panel-blur">

  <div class=panel-body">
    {{> list }}
  </div>

</div>
